.content{
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
}
/* Footer */
.footer {
    background-image: linear-gradient(45deg,#88E3FF, #F0FFFF);
    color: #031f2b;
    padding: 20px;
    text-align: center;
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
}
h4{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: larger;
}
.mylogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50;
}