*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-around;
}
img{
    width:100%;
}
.card-img{
    width: 20%;
}
.card{
    margin-left: auto;
    margin-right: auto;
    background: #fefefe;
    padding: 20px 40px;
    margin-bottom: 2vh;
    width: 98%;
    height: 25vh;
    display: flex;
}
    /* PENDING */
#container-pending{
    width: 50%;
}
#pending-card-header{
    width: auto;
    padding: 20px 40px;
    padding-left: 15%;
}
#pending-details-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 100%;
}
#pending-details-bar > div{
    padding-left: 2%;
}
#pending-details-bar-name{
    flex-basis: 50%;
}
#pending-details-bar-qty{
    flex-basis: 50%;
}
#pending-details-bar-prc{
    flex-basis: 50%;
}
#pending-details-bar-do{
    flex-basis: 50%;
}

    /* RECEIVED */
#container-received{
    width: 50%;
}
#received-card-header{
    width: auto;
    padding: 20px 40px;
    text-align: end;
    padding-right: 15%;
}
#received-details-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 100%;
}
#received-details-bar > div{
    padding-left: 2%;
}
#received-details-bar-name{
    flex-basis: 50%;
}
#received-details-bar-qty{
    flex-basis: 50%;
}
#received-details-bar-prc{
    flex-basis: 100%;
}
#received-details-bar-do{
    flex-basis: 50%;
}
#received-details-bar-dr{
    flex-basis: 50%;
}